body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    height: 100%;
    background: radial-gradient(
            circle farthest-side at 0% 50%,
            #282828 23.5%,
            rgba(255, 170, 0, 0) 0
        )
        21px 30px,
        radial-gradient(
            circle farthest-side at 0% 50%,
            #2c3539 24%,
            rgba(240, 166, 17, 0) 0
        )
        19px 30px,
        linear-gradient(
            #282828 14%,
            rgba(240, 166, 17, 0) 0,
            rgba(240, 166, 17, 0) 85%,
            #282828 0
        )
        0 0,
        linear-gradient(
            150deg,
            #282828 24%,
            #2c3539 0,
            #2c3539 26%,
            rgba(240, 166, 17, 0) 0,
            rgba(240, 166, 17, 0) 74%,
            #2c3539 0,
            #2c3539 76%,
            #282828 0
        )
        0 0,
        linear-gradient(
            30deg,
            #282828 24%,
            #2c3539 0,
            #2c3539 26%,
            rgba(240, 166, 17, 0) 0,
            rgba(240, 166, 17, 0) 74%,
            #2c3539 0,
            #2c3539 76%,
            #282828 0
        )
        0 0,
        linear-gradient(90deg, #2c3539 2%, #282828 0, #282828 98%, #2c3539 0%) 0 0
        #282828;
    background-size: 40px 60px;
}

h1{
    text-align: center;
    width: 100%;
    font-family: math;
    color: #61dafb;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

.card {
    background-color: rgba(255, 255, 255, 0.074);
    border: 3px solid #61dafb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: 700;
    padding: 30px 20px;
    color: #61dafb;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    margin:30px;
}
.container:hover > .card:not(:hover) {
    filter: blur(10px);
}
.card:hover {
    transform: scale(1.05);
}

.App-logo {
    pointer-events: none;
    margin-top: -10px;
    width: 80px;
    height: 80px;
}

.header {
    font-size: 22px;
    margin: 20px 0;
    font-weight: 700;
}

.App-button {
    padding: 10px 20px;
    background-color: transparent;
    color: #61dafb;
    font-size: 15px;
    border: 3px solid #61dafb;
    border-radius: 25px;
    margin-top: 20px;
    transition: 0.3s;
    cursor: pointer;
}

.App-button:hover {
    color: #1e2127;
    background-color: #61dafb;
}

/* Media Queries */

/* Mobile Devices (Portrait and Landscape) */
@media (max-width: 480px) {
    .card {
        width: 90%;
        font-size: 18px;
    }

    .App-logo {
        width: 60px;
        height: 60px;
    }

    .header {
        font-size: 18px;
    }

    .App-button {
        font-size: 14px;
        padding: 8px 16px;
        cursor: pointer;
    }
    .container:hover > .card:not(:hover) {
        filter: blur(10px);
    }
}

/* Tablets (Portrait and Landscape) */
@media (min-width: 481px) and (max-width: 768px) {
    .card {
        width: 80%;
        font-size: 22px;
    }
    h1{
        margin-top:30%;
    }
    .App-logo {
        width: 70px;
        height: 70px;
    }

    .header {
        font-size: 20px;
    }

    .App-button {
        font-size: 15px;
        padding: 10px 20px;
        cursor: pointer;
    }
    .container:hover > .card:not(:hover) {
        filter: blur(10px);
    }
}

/* Laptops and Desktops */
@media (min-width: 769px) {
    .card {
        width: 300px;
        font-size: 26px;
    }

    .App-logo {
        width: 80px;
        height: 80px;
    }

    .header {
        font-size: 22px;
    }

    .App-button {
        font-size: 15px;
        padding: 10px 20px;
        cursor: pointer;
    }
    .container:hover > .card:not(:hover) {
        filter: blur(10px);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 5s linear;
    }
}
